In [7]:
import pandas as pd
import fitz
import os
from pathlib import Path

In [2]:
rb_pages = pd.read_csv('Data/Real Book Page Numbers - Sheet1.csv')
rb_pages = rb_pages.dropna()

print(len(rb_pages))
rb_pages.head()

219

             Song Name  Book  Page Number  Pages
0            502-Blues   1.0        153.0    1.0
3    52nd-Street-Theme   2.0         93.0    1.0
16           Afro-Blue   1.0          9.0    1.0
18  Afternoon-In-Paris   1.0         10.0    1.0
27           Airegin-1   1.0         11.0    1.0

In [3]:
rb1_pages = rb_pages[rb_pages['Book'] == 1]
rb1_pages.head()

              Song Name  Book  Page Number  Pages
0             502-Blues   1.0        153.0    1.0
16            Afro-Blue   1.0          9.0    1.0
18   Afternoon-In-Paris   1.0         10.0    1.0
27            Airegin-1   1.0         11.0    1.0
34  Alice-In-Wonderland   1.0         12.0    1.0

In [4]:
rb2_pages = rb_pages[rb_pages['Book'] == 2]
rb2_pages.head()

                      Song Name  Book  Page Number  Pages
3             52nd-Street-Theme   2.0         93.0    1.0
28              Airmail-Special   2.0          3.0    1.0
33                 Alfies-Theme   2.0          4.0    1.0
37  All-Gods-Chillun-Got-Rhythm   2.0          6.0    1.0
74                       Avalon   2.0         13.0    1.0

In [22]:
rb1 = fitz.open("Data/realbook_pdfs/The Real Book 1.PDF")

for idx, row in rb1_pages.iterrows():
    os.makedirs(f'Data/sheetmusic_pngs/{row['Song Name']}', exist_ok=True)

    page_num=1
    for i in range(int(row['Pages'])):
        page = rb1.load_page(int(row['Page Number']) + page_num + 11)
        pix = page.get_pixmap(dpi=300)
        pix.save(f'Data/sheetmusic_pngs/{row['Song Name']}/{row['Song Name']}_{page_num}.png')
        page_num+=1

In [ ]:
rb2 = fitz.open("Data/realbook_pdfs/The Real Book 2.PDF")

for idx, row in rb2_pages.iterrows():
    os.makedirs(f'Data/sheetmusic_pngs/{row['Song Name']}', exist_ok=True)

    page_num=1
    for i in range(int(row['Pages'])):
        page = rb2.load_page(int(row['Page Number']) + page_num + 5)
        pix = page.get_pixmap(dpi=300)
        pix.save(f'Data/sheetmusic_pngs/{row['Song Name']}/{row['Song Name']}_{page_num}.png')
        page_num+=1